/*
.navbar-expand-lg{
    background: #beb8eb;
  }
//  .navbar-default {
//    background-color: #F8F8F8;
//    border-color: #E7E7E7;
// }
.navbar-expand-lg .navbar-brand {
    color: #ffffff;
}
.navbar-expand-lg .navbar-nav > li > a  {
    color: #ffffff;
}*/ 