<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- temporary Bootstrap -->
<nav class="navbar pb-0 pt-0 navbar-dark fixed-top bg-white" id="mainNav">
  <div class="col-xs-4 mb-0">
      <a href="#" class="navbar-brand">
          <img src="..\assets\images\logoAgadir.jpg" alt="" width="50" height="50">
      </a>
  </div>
  <div class="col-xs-4 mb-0">
      <nav class="navbar navbar-left navstyle mb-0">
          <a routerLink="/home" class="nav-link">Home</a>
          <a routerLink="/actualite" class="nav-link">Actualite</a>
          <a routerLink="/equipements" class="nav-link">Listes des equipements</a>
          <a routerLink="/demande" class="nav-link">Contacts</a>
      </nav>
  </div>
  
  
  <div class="col-xs">
      <div class="navbar navbar-right navstyle">
          <a routerLink="auth/signup" class="nav-link" *ngIf="!auhtservice.isloggedIn()">Sign up</a>
          <a routerLink="auth/signin" class="nav-link" *ngIf="!auhtservice.isloggedIn()">Log in</a>
          <a routerLink="" (click)="onLogout()" class="nav-link" *ngIf="auhtservice.isloggedIn()">Log Out</a>

      </div>
  </div>

</nav>