/*
.navbar-expand-lg{
    background: #beb8eb;
  }
//  .navbar-default {
//    background-color: #F8F8F8;
//    border-color: #E7E7E7;
// }
.navbar-expand-lg .navbar-brand {
    color: #ffffff;
}
.navbar-expand-lg .navbar-nav > li > a  {
    color: #ffffff;
}*/ 
.navbar-left .nav-link:visited,
.navbar-left .nav-link:link{
    color:#03588C;
}
.navbar-left .nav-link:hover,
.navbar-left .nav-link  :active{
    color:#8FBDD9;
    border-bottom: #8FBDD9 solid 2px;
    font-style: bold;
    transition: 0.1s;

}

.navbar-right .nav-link:visited,
.navbar-right .nav-link:link{
    border: 1px solid #03588C;
    margin-left: 0.5em;
}

.navbar-right .nav-link:hover,
.navbar-right .nav-link:active{
    margin-left: 0.5em;
    color: white;
    background-color: #03588C ;
    transition: 0.7s;
}


#mainNav{
    border-bottom: 1px solid #03588C; 
}