/* You can add global styles to this file, and also import other style files */

.img {
    height:300px;
}
section{
    padding:   6em 0;
    display: block;
    font-family: 'Open Sans';
    font-weight: 300;
}

h1,h2,h3,h4{
    font-weight:    400;
    font-family: Lato;
    word-spacing:   2px;
    /* text-align:     center; */
    margin-bottom:  1em;
    text-transform: uppercase;
    color: #0477BF;
}
.img-fluid {
    max-height: 100%;
}
.featured-text-right {
    padding: 0 0 0 2rem;
    border-left: .5rem solid #D98E04;
    line-height:    140%;
    width:          70%;
    margin-left:    15%;
    margin-bottom:  30px;
    /* text-indent:    30px; */
    /* background-color: gray; */
    padding: 1em;
}
.featured-text-left {
    padding: 0 0 0 2rem ;
    border-right: .5rem solid #D98E04;
    line-height:    140%;
    width:          70%;
    margin-left:    15%;
    margin-bottom:  30px;
    /* text-indent:    30px; */
    /* background-color: gray; */
    padding: 1em;
}



