<div class="container">
    <ul class="list-grp">
        <li class="list-group-item">id: {{equipement.id}}</li>
        <li class="list-group-item">id du Responsable: {{equipement.idResponsable}}</li>
        <li class="list-group-item">adresse: {{equipement.adresse}}</li>
        <li class="list-group-item">coordonnees: ({{equipement.largeur}},{{equipement.longueur}})</li>
    </ul>
</div>
<!-- public id: Number,
public nom: string,
public  idResponsable: Number,
public  adresse: string,
public largeur: Number,
public longueur: Number -->