<br><br><br>

<head>
  <title>Mon profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{demandeur.nom}}  </h1></div>
    	<div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="..\assets\images\28fd20ccec6865e2d5f0e1f4446eb7bf.jpg"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <!--<img src="..\assets\images\avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">-->
        <img [src]="profileImage" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-right center-block file-upload" (change)="saveProfileImage($event)" style="width: 90%;">
      </div><br>

               
          <div class="panel panel-default">
            <div class="panel-heading"> <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href=""></a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item "><strong></strong><span> </span></li>
           <!-- <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>-->
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">                         
                      <div class="col-xs-6">
                          
                          <input type="hidden" class="form-control" name="password" id="password" >
                      </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="id"><h4>Id </h4></label>
                              <input type="text" class="form-control" name="id" id="id" disabled formControlName="id">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="username"><h4>Username</h4></label>
                              <input type="text" class="form-control" name="username" id="username" formControlName="username" placeholder="Username">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="nom"><h4>Nom </h4></label>
                              <input type="text" class="form-control" name="nom" id="nom" formControlName="nom" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="prenom"><h4>Prenom</h4></label>
                              <input type="text" class="form-control" name="prenom" id="prenom" formControlName="prenom" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="telephone"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="telephone" id="telephone" formControlName="telephone" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" formControlName="email" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="adresse"><h4>Adresse</h4></label>
                              <input type="text" class="form-control" id="adresse" placeholder="adresse" formControlName="adresse" title="enter your adresse">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="type"><h4>Type </h4></label>
                              <input type="text" class="form-control" name="type" id="type" disabled formControlName="type" placeholder="Type">
                          </div>
                      </div>              
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="recepisse"><h4>le récépissé définitif </h4></label>
                          <input type="file" class="form-control"  (change)="saveRecepisse($event)">
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-6">
                        <label for="statut"><h4>le statut </h4></label>
                        <input type="file" class="form-control" name="statut" id="statut"(change)="saveStatut($event)">
                      </div>
                  </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-success" type="submit"  data-toggle="modal" href="#exampleModal"> Save</button>
                               	<button class="btn btn-secondary" type="reset"> Reset</button>
                                <!--<button class="btn btn-lg btn-success" (click)="afficher()">afficher</button>-->
                            </div>
                      </div>
              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
            
        </div><!--/col-9-->
                    
    <!-- Modal -->
<div class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">demande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        test
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" href="">Close</button>
      <!--  <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
    </div><!--/row-->
                                                      
