<br><br><br><br>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
          <span class="card-title" style="font-size: 80px;color: rgb(75, 119, 9);"> Succés !!</span><br>
          <span class="card-text" style="font-size: 40px;">Votre compte a été crée avec succés.</span><br><br>
          <a routerLink="/admin/auth" class="btn btn-primary">
            Se connecter
          </a>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</div>
