<!------ Include the above in your HEAD tag ---------->
<br><br><br><br><br>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    <br><br>
    </div>

    <!-- Login Form -->
    <form [formGroup]="signInform" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn first" name="login" placeholder="Username" formControlName="username" required>
      <input type="password" id="password" class="fadeIn second" name="login" placeholder="Password" formControlName="password" required>
      <!-- <select formControlName="type" id="type" class="fadeIn fourth" class="form-control">
        <option value="Gestionnaire" selected>Gestionnaire</option>
        <option value="Decideur">Décideur</option>
      </select> -->
      <br><br>
      <input type="submit" class="fadeIn fourth" value="Connexion">
    </form>
    <p class="text-danger" >{{errorMessage}} </p>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>