<br><br>
<div class="main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="col-lg-8 col-md-4">
                <app-autorisation-chart></app-autorisation-chart>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <div class="col-lg-8 col-md-4">
                <app-autorisation-gestionnaire></app-autorisation-gestionnaire>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <div class="col-lg-8 col-md-4">
                <app-autorisation-equipement></app-autorisation-equipement>
            </div>
        </div>
    </div>
</div>