<br><br><br><br>
<p-dataView [value]= "demandes" [paginator]="true" [rows]="10" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>List Des demandes
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [style]="{'color':'black'}"></p-dropdown>
    </p-header>
    <p-footer>Choose from the list.</p-footer>
    <ng-template let-demandeL pTemplate = "listItem">
        
        <div>
            <app-demande-summary [demandeSum]= demandeL ></app-demande-summary>
        </div>
    </ng-template>

    <ng-template let-demandeL pTemplate = "gridItem">
        <div>
           <p>what's up {{demandeL.id}}</p>
        </div>
    </ng-template>

</p-dataView>