<br><br><br>  
<html>
    <head>
    </head>
    <body>
      <div class="container-fluid" style="width: 90%;">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="id">#Id</th>
                <th scope="col">Date de début de réservation</th>
                <th scope="col">Date de fin de réservation</th>
                <th scope="col">equipement</th>
                <th scope="col">date d'autorisation</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let autorisation of autorisations ">
                <th scope="row">{{autorisation.id}} </th>
                <td>{{formatDate(autorisation.reservation.demande.dateDebutReservation)}}</td>
                <td>{{formatDate(autorisation.reservation.demande.dateFinReservation)}}</td>
                <td>{{autorisation.reservation.equipement.nom}}</td>
                <td>{{formatDate(autorisation.dateAutorisation)}} </td>
                
                <td>
                <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/AllAutorisations', autorisation.id]" style="margin-top: 5px;">
                    Détail
                </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>


    </body>
</html>
  

