.filter-container {
    text-align: center;
}
.equipement-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 1px solid #d9dad9;
}
.equipement-details > div {
    display: flex;
    align-items: center;
}
.equipement-details > div img {
    margin-right: 16px;
    max-width: 10px;
	height: 10px;
}
.equipement-detail {
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid #d9dad9;
    margin: 1em;
}
.ui-panel-content {
    padding: 1em;
}
.dark-theme :host ::ng-deep .equipement-details,
.dark-theme :host ::ng-deep .equipement-detail {
    border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
    .equipement-details img {
         width: 75px;
    }
    .filter-container {
        text-align: left;
    }
}