<p>list-equipement works!</p>
<!--
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of demandeurs">
    <h3>{{user.username}}  {{user.nom}} </h3>
    <p>{{ user.email }}</p>
    <p>{{ user.prenom }}</p>
    <p>{{ user.actived }}</p>
    <p *ngIf="user.roles != null ">
      Cette personne a des roles !
      <span *ngFor="let role of user.roles ">{{ role }} - </span>
    </p>
</li>
</ul>-->
<p-dataView #dv [value]="equipements" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Search by brand" (input)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-4" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>

<ng-template let-equipement pTemplate="listItem">
    <div class="ui-g-12">
        <div class="Equipements-details">
            <div>
                <img src="..\assets\commune.png"> 
                <div class="ui-g">
                    <div class="ui-g-12">Id: <b>{{equipement.id}}</b></div>
                    <div class="ui-g-12">Nom: <b>{{equipement.nom}}</b></div>
                    <div class="ui-g-12">Adresse: <b>{{equipement.adresse}}</b></div>
                    <div class="ui-g-12">Responsable: <b>{{equipement.idResponsable}}</b></div>
                </div>
            </div>
            <button pButton type="button" icon="pi pi-search" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" (click)="selectEquipement($event, equipement)" ></button>
        </div>
    </div>
</ng-template>
<ng-template let-equipement pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="equipement.id" [style]="{'text-align':'center'}">
            <img src="..\assets\commune.png"> 
            <div class="equipement-detail">{{equipement.nom}} - {{equipement.adresse}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <button pButton type="button" icon="pi pi-search" (click)="selectEquipement($event, equipement)" style="margin-top:0"></button>
        </p-panel>
    </div>
</ng-template>
</p-dataView>
<p-dialog header="Equipement Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '225px'}"  (onAfterHide)="onDialogHide()">

  <div class="ui-g" *ngIf="selectedEquipement">
    <div class="ui-g-12" style="text-align:center">
        <img src="..\assets\commune.png"> 
    </div>

    <div class="ui-g-4">Id: </div>
    <div class="ui-g-8">{{selectedEquipement.id}}</div>

    <div class="ui-g-4">adresse: </div>
    <div class="ui-g-8">{{selectedEquipement.adresse}}</div>

    <div class="ui-g-4">Nom: </div>
    <div class="ui-g-8">{{selectedEquipement.nom}}</div>

    <div class="ui-g-4">idResponsable: </div>
    <div class="ui-g-8">{{selectedEquipement.idResponsable}}</div>


</div>
</p-dialog>